<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
</head>
<body>
<h1>Authors list</h1>
<table>
    <tr>
        <td>ID</td>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">test</td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
    </tr>
</table>
</body>
</html>

