<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet clinic by ttmdear</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
</head>
<body>
<h1 th:text="'Owners index'">Owner index</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">John</td>
            <td th:text="${owner.firstName}">John</td>
            <td th:text="${owner.lastName}">John</td>
        </tr>
    </table>
</body>
</html>

